body {
  background-color: #fff;
  font-family: arial, sans-serif;
}

main {
  height: 100vh;
}

#main-content-container {
  width: 100%;
  position: relative;
  top: 20%;
}

#main-content-container img, input {
  display: block;
  margin: 0 auto;
}

#button-container {
  text-align: center;
}

#button-container input, button {
  display: inline-block;

}

#main-content-container img {
  padding: 20px;
}

#search-box {
  width: 500px;
  height: 2.5em;
  margin: 0 auto;
  border-radius: 1.25em;
  border: 1px solid #dfe1e5;
}

.search-button {
  padding: .5em;
  margin: 0 3px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  color: #5e6368;
}

.search-button:hover {
  border: 1px solid black;
  color: black;
}



