* {
  -moz-appearance: none;
  -webkit-appearance: none;
}

body {
  background-color: #fff;
}

main {
  height: 100vh;
  font-family: arial, sans-serif;
  font-size: 13px;
}

#main-content-container {
  width: 100%;
  position: relative;
  top: 20%;
}

#main-content-container img, input {
  display: block;
  margin: 0 auto;
}

#button-container {
  text-align: center;
}

#main-content-container img {
  padding: 20px;
}

#search-box {
  margin: 0 auto;
  border-radius: 24px;
  border: 1px solid rgb(223,225,229);
  color: rgb(34,34,34);
  height: 44px;
  width: 482px;
  font-size: 13px;
}

.search-button {
  display: inline-block;
  padding: 0 16px;
  margin: 11px 4px;
  border: 1px solid rgb(242,242,242);
  background-color: rgb(242,242,242);
  color: rgb(95,99,104);
  border-radius: 4px;
  font-size: 14px;
  height: 36px;
  cursor: pointer;
}

.search-button:hover {
  border: 1px solid #999b9e;
  color: rgb(34,34,34);
}

#search-box:hover {
  box-shadow: 2px 2px 5px #dfe1e5;
}



